<!-- Top Bar -->
<%= render "welcome/shared/top_bar" %>
<!-- Header -->
<%= render "welcome/shared/header" %>
<!-- Hero -->
<%= render "welcome/shared/hero" %>

<main>
    <!-- about -->
    <%= render "welcome/shared/about" %>
    <!-- why-us -->
    <%= render "welcome/shared/why-us" %>
    <!--menu  -->
    <%= render "welcome/shared/menu" %>
    <!-- special -->
    <%= render "welcome/shared/special" %>
    <!-- events -->
    <%= render "welcome/shared/events" %>
    <!--booking  -->
    <%= render "welcome/shared/booking" %>
    <!--testimonials  -->
    <%= render "welcome/shared/testimonials" %>
    <!-- galery -->
    <%= render "welcome/shared/articles" %>
    <!-- chiefs -->
    <%= render "welcome/shared/members" %>
    <!-- contact -->
    <%= render "welcome/shared/contact" %>
</main>
<!-- footer -->
<%= render "welcome/shared/footer" %>
<!-- preloader -->
<%= render "welcome/shared/preloader" %>

